/* Styling */
body{
  background-color: sienna;
  margin: 0;
}

#wrapper {
      margin: 0 auto;
      width: 80%;
    }
    
     nav {
      margin-top: 3em;
    margin-bottom: 10em;
      display: table;
      width: 100%;
      height: 1.4em;
      border-collapse: collapse;
      border: none;
    }
    
    nav ul {
      display: table-row;
    }
    
    nav li {
      display: table-cell;
      margin: 0;
      text-align: center;
    }
    
    nav li a {
      display: block;
      padding:  1em;
      text-decoration: none;
      font-weight: bold;
      font-family: Avenir, Sans-Serif;
      font-size: 1em;
      color: #FFFFFF;
      border-bottom: 0.1em solid gold;
      background-color: maroon;
    }

    nav li a:hover {
      background: sienna;
      display: block;
    }

.active {
     background-color: tan;
     display: block;
}



h1{
    color: goldenrod;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Ranga', cursive;

}

iframe{
    margin: 50px 110px;
}

h3{
    align-content: center;
    margin-top: 0em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0em;
}
p{
    color:beige;
    font-family: 'Helvetica';
    align-content: center;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    
}