
/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
div.color-1 {
    background: darkred;
}

div.color-2 {
    background: goldenrod;
}

div.color-3 {
    background: white;
}
div.color-4 {
    background: black;
}
div.color-5 {
    background: tan;
}

/* Textures or Patterns*/
div.pattern-1 {
    background: url("../img/grid-bg.png");
}

div.pattern-3 {
    background-image: linear-gradient();
}
/* Imagery */
.imagery-1 img {
    border: none;
    box-shadow: 0 0 10px 0 #333;
}

/* Icons */


/* Navigation */
a:link {
    text-decoration: none;
    color: crimson;
}
a:visited {
    text-decoration: none;
    color:burlywood;
}
a:focus{
    background-color: aliceblue
}
a:hover{
    border-bottom: 4px solid antiquewhite;
}
a:active{
    
}
/* Typography */

h1{
    font-family: 'Sigmar One', cursive;
    color: goldenrod;

}
h2{
    color: azure;
}
h3{
    color:darkred;
    font-family: cursive
}
p{
    line-height: 1.5em;
    font-family: sans-serif;
}